html {
	font: -apple-system-body;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
   	font-weight: 300;
   	height: 100%;
   	background-color: #FFF;
   	color: #000;
}

body {
	font-size: 1.5em;
	display: table;
	width: 100%;
	max-width: 40em;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

[role=main] {
	display: table-cell;
	width: 100%;
	padding: 20%;
	vertical-align: middle;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}