html {
	font: -apple-system-body;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
   	font-weight: 300;
   	height: 100%;
   	background-color: #FFF;
   	color: #000;
}

body {
	font-size: 1.5em;
	max-width: 33em;
	margin: 0 auto;
	padding: 2em 1em;
}

[role=main] {
	
}

pre {
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.warning {
	background: #F00;
	color: #FFF;
	padding: 1em;
	margin: 1em 0;
	font-weight: bold;
}